*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    scroll-behavior: smooth;
    background: orangered;
    /* overflow-x: hidden; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modes{
    display: flex;
    width: 100vw;
    height: 15vh;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    color: white;
    background-color: rgb(42, 12, 132);
    /* margin-bottom: 5px; */
}
.modes img{
    width: 70px;
    height: 70px;
    background: #fff;
}
.btn-cover{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    /* background: yellow; */
    padding:0  20px;
    gap: 20px;
}
.btn{
    width: 300px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    background-color: gray;
}
.btn:hover{
    background-color: orangered;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&& */
  

.form-cont{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: orangered;

}
.form-cont h2{
    color: white;
}

form { 
    background:  rgb(42, 12, 132); 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 500px; 
    /* margin: auto;  */
}

input, textarea, button, select { 
    width: 100%; 
    margin: 10px 0; 
    padding: 20px; 
    border-radius: 5px; 
}

button { 
    /* background: #4CAF50;  */
    background:  gray;
    color: white; 
    border: none; 
}
button:hover{
    background-color: orangered;
}

#status{
    color: white;
    font-size: 20px;
}




/* MEDIA QUERY HERE BEGIN  */
@media screen and (max-width: 767px){

    .modes{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

    .btn-cover{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 0;
   
}

}
